h2, p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
}

h2{
  -webkit-line-clamp: 1;
}

p{
  -webkit-line-clamp: 3;
}

// React-Slick
.slick-next,
.slick-prev {
  z-index: 99 !important;
  width: 2.4rem;
  height: 2.4rem;
  
  padding: 6px;
  
  border: none;
  border-radius: 32px;
 
  cursor: pointer;
  background-color: #13BF98;
  
  &:hover{
    background-color:#13BF98;
  }
}
  
